html,
body,
.app {
  height: 100vh;
  padding: 1em;
}

.messages {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 0.6em;
}

.message__form {
  position: absolute !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

/*  ColorPanel.js */
.color__container {
  position: relative !important;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
  cursor: pointer;
}

.color__container:hover {
  box-shadow: 0 0 4px black;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/*  Typing Indicator */
.user___typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}
.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 10px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.login__bg {
  background: url("./images/developers\ team.jpg") no-repeat;
  background-size: cover;
}

.login__card,
.register__card {
  background-color: white;
  border-radius: 8px;
}

.register__bg {
  background: url("./images/team\ working.jpg") no-repeat;
  background-size: cover;
}
